--
-- PostgreSQL database dump
--

\restrict bI52gtebxf4QzQM6cXeKoUSRHp6Jnc5D8f90UMgbNH7WwJejxKbh5iSuv7DiWcy

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: coming_soon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coming_soon (
    id integer NOT NULL,
    title character varying(120) NOT NULL,
    release_date date NOT NULL,
    description text NOT NULL,
    image_url text NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.coming_soon OWNER TO postgres;

--
-- Name: coming_soon_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.coming_soon_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.coming_soon_id_seq OWNER TO postgres;

--
-- Name: coming_soon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.coming_soon_id_seq OWNED BY public.coming_soon.id;


--
-- Name: genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.genres (
    id integer NOT NULL,
    slug character varying(40) NOT NULL,
    name character varying(80) NOT NULL,
    title_count integer DEFAULT 0 NOT NULL,
    image_url text NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.genres OWNER TO postgres;

--
-- Name: genres_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.genres_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.genres_id_seq OWNER TO postgres;

--
-- Name: genres_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.genres_id_seq OWNED BY public.genres.id;


--
-- Name: hero_slides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hero_slides (
    id integer NOT NULL,
    title character varying(120) NOT NULL,   npm run db:upgrade
    rating numeric(3,1) NOT NULL,
    quality character varying(60) NOT NULL,
    genre_label character varying(80) NOT NULL,
    description text NOT NULL,
    image_url text NOT NULL,
    trailer_url text NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    CONSTRAINT hero_slides_rating_check CHECK (((rating >= (0)::numeric) AND (rating <= (10)::numeric)))
);


ALTER TABLE public.hero_slides OWNER TO postgres;

--
-- Name: hero_slides_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hero_slides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hero_slides_id_seq OWNER TO postgres;

--
-- Name: hero_slides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hero_slides_id_seq OWNED BY public.hero_slides.id;


--
-- Name: live_channels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.live_channels (
    id character varying(12) NOT NULL,
    name character varying(80) NOT NULL,
    logo character varying(40) NOT NULL,
    category character varying(80) NOT NULL,
    show_title character varying(120) NOT NULL,
    description text NOT NULL,
    viewers_count integer DEFAULT 0 NOT NULL,
    stream_url text NOT NULL,
    bg_image text,
    program_name character varying(120) NOT NULL,
    minutes_left integer DEFAULT 0 NOT NULL,
    progress_percent integer DEFAULT 0 NOT NULL,
    resolution character varying(30) DEFAULT '1080p Full HD'::character varying NOT NULL,
    audio_language character varying(40) DEFAULT 'Arabic / English'::character varying NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    CONSTRAINT live_channels_progress_percent_check CHECK (((progress_percent >= 0) AND (progress_percent <= 100)))
);


ALTER TABLE public.live_channels OWNER TO postgres;

--
-- Name: reminders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reminders (
    user_id integer NOT NULL,
    coming_soon_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reminders OWNER TO postgres;

--
-- Name: title_genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.title_genres (
    title_id character varying(12) NOT NULL,
    genre_id integer NOT NULL
);


ALTER TABLE public.title_genres OWNER TO postgres;

--
-- Name: titles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.titles (
    id character varying(12) NOT NULL,
    kind character varying(10) NOT NULL,
    badge character varying(60) NOT NULL,
    quality character varying(40) NOT NULL,
    title character varying(120) NOT NULL,
    rating numeric(3,1) NOT NULL,
    stars smallint NOT NULL,
    year smallint NOT NULL,
    duration character varying(40) NOT NULL,
    description text NOT NULL,
    image_url text NOT NULL,
    trailer_url text NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    CONSTRAINT titles_kind_check CHECK (((kind)::text = ANY ((ARRAY['movie'::character varying, 'series'::character varying])::text[]))),
    CONSTRAINT titles_rating_check CHECK (((rating >= (0)::numeric) AND (rating <= (10)::numeric))),
    CONSTRAINT titles_stars_check CHECK (((stars >= 1) AND (stars <= 5)))
);


ALTER TABLE public.titles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(60) NOT NULL,
    email character varying(254) NOT NULL,
    password_hash text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: watchlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.watchlist (
    user_id integer NOT NULL,
    title_id character varying(12) NOT NULL,
    added_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.watchlist OWNER TO postgres;

--
-- Name: coming_soon id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coming_soon ALTER COLUMN id SET DEFAULT nextval('public.coming_soon_id_seq'::regclass);


--
-- Name: genres id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genres ALTER COLUMN id SET DEFAULT nextval('public.genres_id_seq'::regclass);


--
-- Name: hero_slides id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hero_slides ALTER COLUMN id SET DEFAULT nextval('public.hero_slides_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: coming_soon; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: genres; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hero_slides; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: live_channels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reminders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reminders (user_id, coming_soon_id, created_at) FROM stdin;
1	2	2026-10-04 22:59:11.461469+03
1	1	2026-10-04 23:04:45.92761+03
\.


--
-- Data for Name: title_genres; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.title_genres (title_id, genre_id) FROM stdin;
m1	1
m1	2
m5	1
m5	3
s1	5
s1	6
s2	4
s3	2
s3	5
s4	4
s4	1
\.


--
-- Data for Name: titles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, password_hash, created_at) FROM stdin;
1	BASSEM GAMAL	bassemgamal246@gmail.com	$2a$12$/zu0n/7tHKm8TrnnhfyEsutpasQzsb7.k6mgk94CgL3llAejLaMZy	2026-10-04 22:29:23.468432+03
\.


--
-- Data for Name: watchlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.watchlist (user_id, title_id, added_at) FROM stdin;
\.


--
-- Name: coming_soon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.coming_soon_id_seq', 3, true);


--
-- Name: genres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.genres_id_seq', 6, true);


--
-- Name: hero_slides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hero_slides_id_seq', 6, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: coming_soon coming_soon_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coming_soon
    ADD CONSTRAINT coming_soon_pkey PRIMARY KEY (id);


--
-- Name: genres genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_pkey PRIMARY KEY (id);


--
-- Name: genres genres_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_slug_key UNIQUE (slug);


--
-- Name: hero_slides hero_slides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hero_slides
    ADD CONSTRAINT hero_slides_pkey PRIMARY KEY (id);


--
-- Name: live_channels live_channels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.live_channels
    ADD CONSTRAINT live_channels_pkey PRIMARY KEY (id);


--
-- Name: reminders reminders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_pkey PRIMARY KEY (user_id, coming_soon_id);


--
-- Name: title_genres title_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.title_genres
    ADD CONSTRAINT title_genres_pkey PRIMARY KEY (title_id, genre_id);


--
-- Name: titles titles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.titles
    ADD CONSTRAINT titles_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: watchlist watchlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT watchlist_pkey PRIMARY KEY (user_id, title_id);


--
-- Name: idx_titles_kind; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_titles_kind ON public.titles USING btree (kind, sort_order);


--
-- Name: reminders reminders_coming_soon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_coming_soon_id_fkey FOREIGN KEY (coming_soon_id) REFERENCES public.coming_soon(id) ON DELETE CASCADE;


--
-- Name: reminders reminders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: title_genres title_genres_genre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.title_genres
    ADD CONSTRAINT title_genres_genre_id_fkey FOREIGN KEY (genre_id) REFERENCES public.genres(id) ON DELETE CASCADE;


--
-- Name: title_genres title_genres_title_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.title_genres
    ADD CONSTRAINT title_genres_title_id_fkey FOREIGN KEY (title_id) REFERENCES public.titles(id) ON DELETE CASCADE;


--
-- Name: watchlist watchlist_title_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT watchlist_title_id_fkey FOREIGN KEY (title_id) REFERENCES public.titles(id) ON DELETE CASCADE;


--
-- Name: watchlist watchlist_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT watchlist_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict bI52gtebxf4QzQM6cXeKoUSRHp6Jnc5D8f90UMgbNH7WwJejxKbh5iSuv7DiWcy

